#team {
    background-color: #f4f4fd;
}
#team h2{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
text-align: center;
}
#team h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            text-align: center;
}
#team p {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    text-align: center;
}
#team .mark-team {
    background-color: #ffffff;
}
#team .tom-team {
    background-color: #ffffff;
}
#team .camila-team {
    background-color: #ffffff;
}
#team .daniel-team {
    background-color: #ffffff;
}